<h1>Prośba o wygenerowanie nowego hasła do konta</h1>

<p>Wysłana zosała prośba o wygenerowanie nowego hasła do konta na zlecenieit.pl</p>
<p>W celu wygenerowania nowego hasła prosimy kliknąć w poniższy link.</p>
<p><%= link_to "Generownaie hasła", generate_new_password_url(id: @confirmation) %></p>
<p><small>Po pierwszym logowaniu link traci ważność</small></p>

