<span class="font-18px bold main-title">Zresetowanie hasła</span>

<span class="font-14px semibold main-subtitle">Wpisz adres e-mail</span>

<%= form_tag(recover_path, class: 'recover-form') do %>
	<div class="two-third">
		<input name="user[email]" type="text" id="recover-email" class="skin-background-color1 skin-font-color3" placeholder="Adres e-mail">
	</div>
	<div class="one-third last">
		<input type="submit"  value="Wyślij e-mail" class="skin-background-color7 skin-font-color2 skin-background-hover6"/>
	</div>
<% end %>