<section class="bottom skin-background-color1 skin-font-color2">
	<div class="center">
		<div class="one-half">
			<span class="font-18px bold">O serwisie</span>
			<p class="skin-font-color3">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales eu velit ut tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc congue viverra mauris, congue 
			pharetra leo posuere a. Fusce viverra sollicitudin suscipit. Maecenas ultricies malesuada justo.
			</p>
		</div>
		<div class="one-half last">
			<span class="font-18px bold">Newsletter</span>
			<div class="one-half">
				<p class="skin-font-color3">Chcesz otrzymywać dwa razy w tygodniu powiadomienia o nowych zleceniach?<br> Zapisz się za darmo do newslettera.</p>
			</div>
			<div class="one-half last">
				<form method="post" class="newsletter-form">
					<input type="text" class="skin-border-color2 skin-font-color3 radious-5px" placeholder="Podaj adres e-mail">
					<a href="#" class="skin-font-color2">
						<span class="skin-font-color3 button font11px">Zapisz się</span>
						<span class="icon font-36px skin-background-color10 skin-font-color1 radious-5px">%</span>
					</a>
				</form>
			</div>
		</div>
		<div class="bottom-detail detail1 bottom-detail1"></div>
		<div class="bottom-detail detail2 bottom-detail2"></div>
	</div>
</section>