<section class="footer">
	<div class="center">
		<div class="footer-top skin-border-color5">
			<span class="skin-font-color1" >Korzystanie z serwsiu oznacza akceptację <a href="#" class="skin-font-color11 skin-color-hover5">regulaminu</a>.</span>
			<ul>
				<li><a href="#" class="facebook"></a></li>
				<li><a href="#" class="twitter"></a></li>
				<li><a href="#" class="gplus"></a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<ul>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">Kontakt</a></li>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">Cookies</a></li>
			</ul>
			<ul>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">Regulamin</a></li>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">Prasa</a></li>
			</ul>
			<ul>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">O nas</a></li>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">Reklama</a></li>
			</ul>
			<ul>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">Polityka</a></li>
				<li><a href="#" class="skin-font-color11 skin-color-hover5">Pomoc</a></li>
			</ul>
			<span class="skin-font-color11">Copyright © 2014, zleceniait.pl</span>
		</div>
	</div>
</section>