<% if flash[:notice] %>
	<div class="alert alert-success">
		<p class="font-14px semibold"><%= flash[:notice] %></p>
	</div>
<% end -%>
 
<% if flash[:alert] %>
	<div class="alert alert-danger">
		<p class="font-14px semibold"><%= flash[:alert] %></p>
	</div>
<% end -%>