<div class="one-fourth main-sidebar">
	<div class="sidebar">
		<span class="font-18px skin-font-color1 bold">Geolokalizacja</span>
		
		<ul class="bold-italic sidebar-geo">
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty cała Polska (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty dolnoślaskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty ślaskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty kujawsko-pormorskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty lubelskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty łódzkie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty małopolskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty mazowieckie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty opolskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty podkarpackie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty podlaskie (<span class="skin-font-color9">16</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty pomorskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty śląskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty świętokrzyskie (<span class="skin-font-color9">320</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty warmińsko-mazurskie (<span class="skin-font-color9">4220</span>)</a></li>
			<li class="skin-border-color3"><a href="#" class="skin-font-color6 skin-color-hover4">Oferty zachodniopomorskie (<span class="skin-font-color9">320</span>)</a></li>
		</ul>
	</div>
	<div class="sidebar">
		<span class="font-18px skin-font-color1 bold">Wyszukiwarka</span>
		<div class="search-line line-before skin-background-color3"></div>
		<form method="post" class="search">
			<input type="text" class="skin-font-color6" placeholder="Wpisz słowa kluczowe">
			<input type="submit"  value="" />
		</form>
		<div class="search-line line-after skin-background-color3"></div>
		<a href="#" class="search-more skin-font-color3 skin-color-hover4">Wyszukiwanie zaawansowane</a>
	</div>
	<div class="sidebar">
		<span class="font-18px skin-font-color1 bold">Usługi</span>
		<ul class="services bold-italic">
			<li>
				<div class="service-wrapper">
					<div class="service-box photo1 radious-5px"></div>
					<div class="service-info radious-5px skin-mask-color1 skin-font-color2">
						<a href="#" class="skin-font-color2 skin-color-hover2">PSD do HTML5/ CSS3</a>
						<p class="font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum cursus ipsum, quis tempor ipsum congue sit amet. In hac habitasse platea dictumst</p>
					</div>
				</div>
				<div class="service-after">
					<a href="#" class="skin-font-color6 skin-color-hover4">PSD do HTML5/ CSS3</a>
					<span class="skin-font-color10">1650zł</span>
				</div>
			</li>
			<li>
				<div class="service-wrapper">
					<div class="service-box photo2 radious-5px"></div>
					<div class="service-info radious-5px skin-mask-color1 skin-font-color2">
						<a href="#" class="skin-font-color2 skin-color-hover2">Grafika dla strony www</a>
						<p class="font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum cursus ipsum, quis tempor ipsum congue sit amet. In hac habitasse platea dictumst</p>
					</div>
				</div>
				<div class="service-after">
					<a href="#" class="skin-font-color6 skin-color-hover4">Grafika dla strony www</a>
					<span class="skin-font-color10">650zł</span>
				</div>
			</li>
		</ul>
	</div>
</div>