<% if @advertisments.any? %>
	<ul class="ad-list">
		<% @advertisments.each do |advertisment| %>
			<li class="ad-prev">
				<%= render 'panel/dashboards/advertisments/list', advertisment: advertisment %>
				<%= link_to "Zamkinj", panel_zakoncz_path(advertisment), class: 'button skin-font-color2 skin-background-hover1 skin-background-color3 bold' %>
			</li>
		<% end %>
	</ul>
<% else %>
<%= render 'empty' %>
<% end %>