<% if @advertisments.any? %>
<ul class="ad-list">
	<% @advertisments.each do |advertisment| %>
	<li class="ad-prev">

		<%= render 'panel/dashboards/advertisments/list', advertisment: advertisment %>

		<%= link_to "Wybierz zwycięzcę", panel_choose_winner_path(advertisment), class: 'button skin-font-color2 skin-background-color3 skin-background-hover1 bold' %>
	</li>
	<% end %>
</ul>
<% else %>
	<%= render 'empty' %>
<% end %>